<style>
    .ngdialog-content{
        width: 600px !important;
        height: auto !important;
    }
</style>
    <table id="table_report" class="table table-striped table-bordered table-hover">
        <tbody>
        <tr>
            <td style="width:170px;text-align: center;font-weight: 700;padding-top: 13px;">{{promptContent}}</td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="10">
                <a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">确定</a>
            </td>
        </tr>
        </tbody>
    </table>
