<style>
    .ngdialog-content{
        width: 800px;
    }
    .nowrapTh {
        padding: 0 !important;
        margin: 0 !important;
        vertical-align: middle !important;
        /*white-space: nowrap !important;*/
    }
    .nowrapTb {
        padding: 2px 0 !important;
        margin: 0 !important;
        vertical-align: middle !important;
        /*white-space: nowrap !important;*/
    }
</style>
<div id="page-content" class="clearfix">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="show-title"><span style="color:#787878;font-size: 14px;">车辆管理&nbsp;>&nbsp;</span>车辆查看</div>
            <form action="" method="post" name="Form" id="Form" style="margin: 0;">
                <table>
                    <tbody>
                    <tr>
                        <td>
							<span class="input-icon">
								<input autocomplete="off" type="text" value="" ng-model="keyword"
                                       placeholder="这里输入车型、车辆颜色、车辆编号、电机号查询" style="width: 360px;">
								<i class="icon-search"></i>
							</span>
                        </td>

                        <td style="vertical-align:top;">
                            <div class="radius" style="width: 28px;height: 28px;background-color: lightgray;position: relative;top: 0px;" ng-click="vehicleSearch()">
                                <span class="icon-search" style="position: absolute;top: 7px;left: 8px;"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <!-- 检索  -->
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="nowrapTh" style="width: 20px;padding-left: 6px !important;padding-right: 6px !important;">
                        <div ng-style="checked" ng-show="unChecks"></div>
                        <label style="height: 20px;position: relative;top: -2px;left: -8px;">
                            <input styled-checkbox style="position: absolute;" ng-style="isChk" type="checkbox" ng-model="ischeck" ng-click="checkAll()">
                        </label>
                    </th>
                    <th>序号</th>
                    <th>车型</th>
                    <th>车辆颜色</th>
                    <th>车辆VIN号</th>
                    <th>车辆编号</th>
                    <!--<th>车辆状态</th>-->
                    <th>电机号</th>
                    <th>SIM卡号</th>
                    <th>添加时间</th>
                    <th>车辆生产日期</th>
                    <th>车辆是否上线</th>
                    <th>车辆所属电子围栏</th>
                    <th hidden="">当前页</th>
                    <!--<th>查看车辆位置</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!-- 开始循环 -->
                <tr ng-repeat="item in vehiclesInfo">
                    <td class="nowrapTb" style="padding:4px 0 4px 6px !important;">
                        <!--<div ng-style="checked" ng-show="unChecks"></div>-->
                        <label style="height: 20px;position: relative;top: -2px;left: -11px;">
                            <input styled-checkbox style="position: absolute;" class="registerId" type="checkbox" id={{item.id}} ng-checked="isSelected(item.id)"ng-model="item.ischeck" ng-click="exportSelection($event,item.id,item.ischeck)">
                        </label>
                        <!--<input ng-style="isChk" type="checkbox" ng-model="item.ischeck" ng-click="check($index+1,ischeck)">-->
                    </td>
                    <td>{{item.orderNo}}</td>
                    <td>{{item.carType}}</td>
                    <td>{{item.carColor}}</td>
                    <td>{{item.vehicleCode}}</td>
                    <td>{{item.carNo}}</td>
                    <!--<td>{{item.}}</td>-->
                    <td>{{item.engineNo}}</td>
                    <td>{{item.simCode}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.productDate}}</td>
                    <td><span ng-class="{true:'isclose',false:'inclose'}[item.isRegist==1]">{{item.isRegist==1?"已上线":"未上线"}}</span></td>
                    <td>{{item.fences[0].name?item.fences[0].name:"车辆未加入电子围栏"}}</td>
                    <td hidden="">{{startPage}}</td>
                    <td style="width: 30px;">
                        <div class="hidden-phone visible-desktop btn-group">
                            <div class="inline position-relative">
                                <button class="btn btn-mini btn-info" data-toggle="dropdown">
                                    <i class="icon-cog icon-only"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                    <li><a style="cursor:pointer;" title="查看车辆位置" ng-click="searchVehicle(item,startPage)"
                                           class="tooltip-success" data-rel="tooltip" data-placement="left">
                                        <span class="green"><i class="icon-map-marker"></i></span></a></li>
                                    <li>
                                        <a style="cursor: pointer;" title="修改车辆"
                                           ng-click="vehicleInfoEdit(item);"
                                           class="tooltip-success" data-rel="tooltip" data-placement="left">
                                            <span><i class="icon-edit"></i></span> </a></li>
                                    </a>
                                    </li>
                                    <li><a style="cursor: pointer;" title="删除车辆" ng-click="vehicleDel(item)"
                                           class="tooltip-error" data-rel="tooltip" data-placement="left"><span
                                            class="red"><i class="icon-trash"></i></span> </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <div style="float: left;">
                    <a class="btn btn-small btn-success" ng-click="vehicleRegister()">添加新车辆</a>
                </div>
                <div style="margin-left: 4px;float: left;">
                    <a class="btn btn-small btn-success" ng-click="vehicleBatchRegister()">批量添加新车辆</a>
                </div>
                <div style="margin-left: 212px;width: 300px;">
                    <a class="btn btn-small btn-success" ng-click="registerToIOT()">注册车辆到IOT</a>
                </div>
                <div style="overflow: hidden;max-width: 200px;float: right;font-size: 15px;margin-top: -25px;">
                    <p style="float:right;">共计：<span>{{ confTotalItems==0?0:confTotalItems }}</span>&nbsp;条数据</p>
                </div>
            </div>
            <tm-pagination style="margin: 10px auto 0px auto !important;" conf="paginationConf">
            </tm-pagination>
        </div>
    </div>
</div>


<!--查看单个车辆-->
<div id="map-container" class="amap-container"
     style="position: relative;background: rgb(252, 249, 242); margin: 8px 20px;margin-top: 38px;background: #FFF;">
    <button class="btn btn-sm btn-danger"  style="position: absolute;top: 5px;left: 5px;z-index: 9;width: 230px;" value="">编号为 <span style="color: cyan;">{{thisVehicle}}</span> 车辆的位置</button>
    <button class="btn btn-sm btn-primary" style="position: absolute;top: 5px;left: 235px;z-index: 9;" value="" ng-click="returnThisVehicle()">返回当前车辆列表页面</button>
    <div id="allmap" style="width:100%;height:660px;position:relative;border: 3px solid #0000cc;"></div>
</div>

<!--车辆添加-->
<script type="text/ng-template" id="vehicleRegistrationDiag">
    <style>
        .ngdialog-content{width: 600px !important;}
    </style>
    <div class="ngdialog-titile"
         style="background-color: cornflowerblue;height: 30px;line-height: 30px;padding-left: 10px;font-weight: 700;">
        <span class="icon-bell"></span>
        <span>车辆添加</span>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车型:</td>
            <td class="text-left">
                <select ng-model="carType" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                    <option value=""><strong>选择车型</strong></option>
                    <option value="1">B50PHEV</option>
                    <option value="2">B50EV</option>
                    <option value="3">测试1</option>
                    <option value="4">S2</option>
                </select>
                <span style="color: #d80c18;font-size: 16px;margin-left: 130px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆颜色:</td>
            <td class="text-left">
                <select ng-model="carColor" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                    <option value=""><strong>选择颜色</strong></option>
                    <option value="红色">红色</option>
                    <option value="蓝色">蓝色</option>
                    <option value="绿色">绿色</option>
                    <option value="黑色">黑色</option>
                    <option value="白色">白色</option>
                    <option value="银灰色">银灰色</option>
                </select>
                <span style="color: #d80c18;font-size: 16px;margin-left: 130px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆编号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="这里输入车辆编号"
                       title="车辆编号" ng-model="carNo" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                <span style="color: #d80c18;font-size: 16px;margin-left: 50px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆生产日期:</td>
            <td class="text-left">
                <div>
                    <div class="">
                        <label class="labelFont">&nbsp;</label>

                        <div class='input-group date'>
                            <input style="width: 160px !important;height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;margin-top: -28px !important;
                           border:1px solid #ccc; border-radius: 5px;" value="" id="datetimepicker3"
                                   data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="生产日期"
                                   type='text' class="form-control"
                                   ng-model="productDate" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)"/>
                            <span style="color: #d80c18;font-size: 16px;margin-left: 190px;position: relative;top: -18px;">*(必填项)</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆VIN号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="这里输入车辆VIN号"
                       title="车辆VIN号" ng-model="vin" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                <span style="color: #d80c18;font-size: 16px;margin-left: 50px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">发动机编号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="这里输入发动机编号"
                       title="发动机编号" ng-model="engineNo" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                <span style="color: #d80c18;font-size: 16px;margin-left: 50px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">SIM卡号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="这里输入SIM卡号"
                       title="SIM卡号" ng-model="simCode" ng-change="registerParamsChange(carType,carColor,carNo,productDate,vin,engineNo,simCode)">
                <span style="color: #d80c18;font-size: 16px;margin-left: 50px;">*(必填项)</span></td>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2">
                <a class="btn btn-mini btn-success" ng-click="registerSave();">确认添加车辆</a>
                <a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">取消</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!--车辆批量添加-->
<script type="text/ng-template" id="vehicleBatchRegistrationDiag">
    <style>
        .ngdialog-content{width:600px !important;}
    </style>
    <div class="ngdialog-titile"
         style="background-color: cornflowerblue;height: 30px;line-height: 30px;padding-left: 10px;font-weight: 700;">
        <span class="icon-bell"></span>
        <span>车辆批量添加</span>
    </div>
    <p style="color: #FF0000;padding-left: 30px;">
        特别提醒：<br>
        1.批量添加车机时，请下载模板Excel。<br>
        2.可通过在宏Excel表中添加车辆信息,直接点击宏Excel表中的导入数据按钮,所添加信息会直接添加到车辆列表。<br>
        3.也可通过下载流Excel模板,点击弹框中的选择文件按钮，将添加好数据的流Excel表上传,在点击上传流Excel文件批量添加按钮完成添加。<br>
    </p>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td style="text-align: center;" colspan="2">
                <a class="btn btn-mini btn-info" style="font-size:18px;font-weight: 700;" href="http://121.43.32.168:8080/admin/SinoliImport.xlsm">点击下载宏Excel模板</a>
                <a class="btn btn-mini btn-success" style="font-size:18px;font-weight: 700;" href="http://121.43.32.168:8080/admin/车辆导入.xlsx">点击下载流Excel模板</a>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:140px;padding-top: 13px;">上传流Excel文件:</td>
            <td class="text-left">
                <iframe name="posthere" frameborder=0 style="display: none"></iframe>
                <form name="form" method="post" action=""
                      enctype="multipart/form-data" target="posthere">
                    <!--<input type="file" name="file" id="excelFile">-->
                    <input type="file" file-model="fileToUpload" name="file" id="file"
                           onChange="document.form.path.value=this.value" style="display:none">
                    <input class="path" name="path" readonly="readonly" style="border:none;">
                    <input type="submit" value="选择文件" onclick="document.form.file.click()"/>
                </form>
            </td>
        </tr>

        <tr>
            <td style="text-align: center;" colspan="2">

                <a class="btn btn-mini btn-success" ng-click="uploadFile();closeThisDialog('a')">上传流Excel文件批量添加</a>
                <a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">取消</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!--车辆信息修改-->
<script type="text/ng-template" id="vehicleInfoEditDiag">
    <style>
        .ngdialog-content{width: 600px !important;}
    </style>
    <div class="ngdialog-titile"
         style="background-color: cornflowerblue;height: 30px;line-height: 30px;padding-left: 10px;font-weight: 700;">
        <span class="icon-bell"></span>
        <span>车辆信息修改</span>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车型:</td>
            <td class="text-left">
                <select ng-model="carTypeEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
                    <option value=""><strong>{{editParamsBefore.carType}}</strong></option>
                    <option value="1">B50PHEV</option>
                    <option value="2">B50EV</option>
                    <option value="3">测试1</option>
                    <option value="4">S2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆颜色:</td>
            <td class="text-left">
                <select ng-model="carColorEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
                    <!--<option value="" style="display: none;">{{editParamsBefore.carColor}}</option>-->
                    <option value=""><strong>{{editParamsBefore.carColor}}</strong></option>
                    <option value="红色">红色</option>
                    <option value="蓝色">蓝色</option>
                    <option value="绿色">绿色</option>
                    <option value="黑色">黑色</option>
                    <option value="白色">白色</option>
                    <option value="银灰色">银灰色</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆编号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" maxlength="32" placeholder="{{editParamsBefore.carNo}}"
                       title="车辆编号" ng-model="carNoEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆生产日期:</td>
            <td class="text-left">
                <div>
                    <div class="">
                        <label class="labelFont">&nbsp;</label>
                        <div class='input-group date'>
                            <input style="width: 160px !important;height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;margin-top: -28px !important;
                           border:1px solid #ccc; border-radius: 5px;" id="datetimepicker4"
                                   data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="{{editParamsBefore.productDate}}"
                                   type='text' class="form-control"
                                   ng-model="productDateEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">车辆VIN号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="{{editParamsBefore.vehicleCode}}"
                       title="车辆VIN号" ng-model="vinEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">发动机编号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="{{editParamsBefore.engineNo}}"
                       title="发动机编号" ng-model="engineNoEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width:120px;padding-top: 13px;">SIM卡号:</td>
            <td class="text-left">
                <input style="height: 30px !important;line-height: 30px !important;margin-bottom: 0 !important;"
                       type="text" value="" maxlength="32" placeholder="{{editParamsBefore.simCode}}"
                       title="SIM卡号" ng-model="simCodeEdit" ng-change="editParamsChange(carTypeEdit,carColorEdit,carNoEdit,productDateEdit,vinEdit,engineNoEdit,simCodeEdit)">
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2">
                <a class="btn btn-mini btn-success" ng-click="editSave();closeThisDialog('a')">确认修改车辆</a>
                <a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">取消</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!--注册车辆到IOT-->
<!--<script type="text/ng-template" id="registerToIOTDiag">-->
    <!--<div>-->
        <!--<div class="ngdialog-titile"-->
             <!--style="background-color: cornflowerblue;height: 30px;line-height: 30px;padding-left: 10px;font-weight: 700;">-->
            <!--<span class="icon-bell"></span>-->
            <!--<span>注册车辆到IOT</span>-->
        <!--</div>-->
        <!--<table class="table table-striped table-bordered table-hover">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td style="width:130px;text-align: right;padding-top: 13px;">车辆编号:</td>-->
                <!--<td style="text-align: left !important;">-->
                    <!--<select ng-model="vehicle" ng-change="registerVehicleNoChange(vehicle)">-->
                        <!--<option value=""><strong>选择车辆编号</strong></option>-->
                        <!--<option ng-repeat="vehicle in vehiclesInfo" value="{{vehicle.id}}">{{vehicle.carNo}}</option>-->
                    <!--</select>-->
                    <!--<span style="color: #d80c18;font-size: 16px;margin-left: 50px;">*(必填项)</span></td>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td style="width:130px;text-align: right;padding-top: 13px;">参数设置提醒:</td>-->
                <!--<td style="text-align: left !important;">-->
                    <!--<p style="color: #d80c18;font-size: 16px;">1、车辆添加一个,点击保存车辆按钮进行存储,直至添加完毕,点击确认注册车辆到IOT按钮注册车辆</p>-->
                    <!--<p style="color: #d80c18;font-size: 16px;">2、若设置参数有误,可点击清空车辆按钮,重新设置</p></td>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td style="text-align: center;" colspan="10">-->
                    <!--<a id="registerVehicleSaveParams" class="btn btn-mini btn-success" ng-click="registerVehicleSaveParams()">保存车辆</a>-->
                    <!--<a id="registerVehicleClearParams" class="btn btn-mini btn-warning" ng-click="registerVehicleClearParams()">清空车辆</a>-->
                    <!--<a class="btn btn-mini btn-primary" ng-click="registerVehicleSave();">确认添加车辆</a>-->
                    <!--<a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">取消</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</script>-->

<!--注册车辆到IOT-->
<script type="text/ng-template" id="registerToIOTDiag">
    <style>
        .ngdialog-content{
            width: 400px !important;
        }
    </style>
    <div>
        <div class="ngdialog-titile"
             style="background-color: cornflowerblue;height: 30px;line-height: 30px;padding-left: 10px;font-weight: 700;">
            <span class="icon-bell"></span>
            <span>注册车辆到IOT</span>
        </div>
        <div style="text-align: center;height: 60px;padding: 18px;margin-bottom: 25px;">
                <p style="font-weight: 700;">选择未上线车辆注册</p>
                <a class="btn btn-mini btn-primary" ng-click="registerVehicleSave();">确认注册车辆</a>
                <a class="btn btn-mini btn-danger" ng-click="closeThisDialog('a')">取消</a>
        </div>
    </div>
</script>
