<!--<style>-->
    <!--#mainBody {-->
        <!--position:relative;-->
        <!--width:100%;-->
        <!--height:100%;-->
    <!--}-->
    <!--.cloud {-->
        <!--position:absolute;-->
        <!--top:0px;-->
        <!--left:0px;-->
        <!--width:100%;-->
        <!--height:100%;-->
        <!--background:url("static/images/cloud.png") no-repeat;-->
        <!--z-index:1;-->
        <!--opacity:0.8;-->
    <!--}-->
    <!--#cloud2 {-->
        <!--z-index:3;-->
    <!--}-->

    <!--#weather {-->
        <!--background:url("static/images/sun.png") no-repeat;-->
        <!--border-radius:90px;-->
        <!--width:150px;-->
        <!--height:150px;-->
        <!--position:absolute;-->
        <!--left:440px;-->
        <!--top:0px;-->
        <!--z-index:2;-->
    <!--}-->
    <!--#weather img {-->
        <!--margin:30px -90px;-->
    <!--}-->

<!--</style>-->
<div id="page-content" class="clearfix" style="min-height:580px;background-image: url('static/login/images/banner_slide_08.jpg')">
    <!--<div id="mainBody">-->
        <!--<div id="cloud1" class="cloud"></div>-->
        <!--<div id="cloud2" class="cloud"></div>-->
    <!--</div>-->
    <!--<div id="weather"><img src="static/images/cloud.png" width="300"/></div>-->
    <!--<div class="container" id="container1">-->
        <!--<div class="popover right pop1" data-easein="cardInRight" data-easeout="cardOutRight" id="pop1">-->
            <!--<div class="arrow"></div>-->
            <!--<div class="popover-inner">-->
                <!--<h3 class="popover-title">欢迎进入赛诺伊管理平台</h3>-->
                <!--<div class="popover-content"> <img src="static/images/flower_small.jpg" alt="small" />-->
                    <!--<p style="margin-top: 10px;">您可根据超级管理员分配的权限 , 进行相应的权限内的操作 。</p>-->
                    <!--<p><a href="">赛诺伊</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="popover right pop2" data-easein="cardInTop" data-easeout="cardOutTop" id="pop2">-->
            <!--<div class="arrow"></div>-->
            <!--<div class="popover-inner">-->
                <!--<h3 class="popover-title"><a href="">我们的座右铭</a></h3>-->
                <!--<div class="popover-content"> <img src="static/images/stopPoint.png" alt="stop" />-->
                    <!--<p style="margin-top: 10px;">给自己一份坚强 , 擦干眼泪 ; 给自己一份自信 , 不卑不亢 ; 给自己一份洒脱 , 悠然前行 。</p>-->
                    <!--<p>轻轻品 , 静静藏 。笑对忧伤 , 与阳光同行 。</p>-->
                    <!--<p>美好一天“自强”开始 !</p>-->
                    <!--<p><a href="">赛诺伊</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="popover left pop3" data-easein="cardInLeft" data-easeout="cardOutLeft" id="pop3">-->
            <!--<div class="arrow"></div>-->
            <!--<div class="popover-inner">-->
                <!--<h3 class="popover-title">我们的心态</h3>-->
                <!--<div class="popover-content">-->
                    <!--<p>淡泊明志,宁静致远。</p>-->
                    <!--<p><a href="">赛诺伊</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="popover bottom pop4" data-easein="cardInRight" data-easeout="cardOutRight" id="pop4">-->
            <!--<div class="arrow"></div>-->
            <!--<div class="popover-inner">-->
                <!--<h3 class="popover-title">我们的回望</h3>-->
                <!--<div class="popover-content"> <img src="static/images/hotBox.png" alt="back" />-->
                    <!--<p style="margin-top: 10px;">用心前行 , 以品质说话 。</p>-->
                    <!--<p>回首那些年 , 我们做的足够好 。</p>-->
                    <!--<p><a href="">赛诺伊</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<img src="static/images/clock_1.png" alt="info" class="info-icon info-icon1" data-target="pop1"  />-->
        <!--<img src="static/images/clock_1.png" alt="info" class="info-icon info-icon2" data-target="pop2"  />-->
        <!--<img src="static/images/clock_1.png" alt="info" class="info-icon info-icon3" data-target="pop3"  />-->
        <!--<img src="static/images/clock_1.png" alt="info" class="info-icon info-icon4" data-target="pop4"  />-->
        <!--&lt;!&ndash;<img src="static/images/flower.jpg" alt="" class="largeimage">&ndash;&gt;-->
    <!--</div>-->
    <div class="page-header position-relative" style="border:none;">
        <h1 style="color: brown;">
            管理平台首页 <small><i class="icon-double-angle-right"></i> </small>
        </h1>
    </div>
    <div class="container text-center" style="margin-top: 80px">
        <p style="font-size: 70px;line-height: 150px;font-family: cursive;">欢迎进入赛诺伊共享车</p>
        <p style="font-size: 70px;line-height: 150px;font-family: cursive;">运营管理平台</p>
    </div>
</div>